@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-zinc-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-zinc-600;
}

select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
}

.collection-1 {
  background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: bottom;
  background-size: cover;
}

.collection-2 {
  background: url('https://plus.unsplash.com/premium_photo-1673809798817-457be4736fa4?q=80&w=465&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
}

.collection-3 {
  background: url('https://images.unsplash.com/photo-1600015835779-c6b36ddeac1f?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: bottom;
  background-size: cover;
}

.collection-4 {
  background: url('https://images.unsplash.com/photo-1512621776951-a57141f2eefd?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
}
